.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin-top:15px;
}
.brand {
 display: flex;
 flex-direction: row;
 align-items: center;
}
.title {
  font-size: 1.2em;
  font-weight: bold;
}
