.row {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: var(--background-light);
  margin-top: 10px;
  border-radius: 5px;
}
.data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px;
}
.label {
  color: var(--foreground-light);
  padding: 5px;
  font-size: 1.2em;
}
.notes {
  padding: 5px;
  font-size: 0.8em;
}
.password {
  font-family: 'Courier New', Courier, monospace;
  color: var(--foreground-dark);
  padding: 5px;
}
.menu {
  align-self: top;
  padding: 10px;
  font-size: 2em;
}


.actions {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 10px;
  background-color: var(--background-dark);
}
.actions.show {
  max-height: 100px; /* Adjust this if your action content is taller */
  padding: 10px;
}
.actionLabel {
  padding-left: 5px;
}

.copy,
.edit,
.delete {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}

.copy {
  color: #66cc66;
}
.edit {
  color: #7abaff
}
.delete {
  color: #ff6688;
}
