.form {
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
  background-color: var(--background);
  margin-top: 20px;
  border-radius: 5px;
}

.title {
  padding-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  position: relative;
}

.dateTime {
  display: flex;
  flex-direction: row;
  gap: 30px;
  .formGroup {
    width: 50%;
  }
}

.error {
  display: block;
  color: var(--text-error);
  text-align: right;
  min-height: 15px;
  font-size: 12px;
  margin-top:5px;
}

.submitButton {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.submitButton:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

