.form {
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.title {
  padding-top: 0px;
  margin: 0px;
  text-align: center;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  position: relative;
}


.formGroup > .input {
  color: var(--text);
  background: var(--background-light);
  border-radius: var(--border-radius);
  border: none;
  padding: 10px;
}

.dateTime {
  display: flex;
  flex-direction: row;
  gap: 30px;
  .formGroup {
    width: 50%;
  }
}

.error {
  display: block;
  color: var(--text-error);
  text-align: right;
  min-height: 15px;
  font-size: 12px;
}

.submitButton {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--secondary);
  color: var(--text-secondary);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.submitButton:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
