.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-medium);

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;
    background-color: var(--background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    z-index: 1001;
    padding: var(--space-large);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-large);
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--foreground-light);
  }

  &__close-button {
    background: none;
    color: var(--red);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
  }

  &__close-button:hover {
    color: var(--white);
  }
}