body {
  font-family: monospace;
  color: var(--text-color);
  background-color: var(--background-darker);
}

main {
  place-items: center;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--blue-light);
}

.form {
  max-width: 400px;
}
/* FORM */
.form__title {
    text-align: center;
}

.form__field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
  margin-top: var(--space-large);
  margin-bottom: var(--space-medium);
}

.form__input {
  padding: var(--space-xsmall);
  border-style: solid;
}

.form__button {
  align-self: center;
}

.form__messages {
  margin-top: var(--space-large);
  margin-bottom: var(--space-large);
}

.form__message--error {
  color: var(--red);
}

.form__message--success {
  color: var(--green);
}


button {
  margin: 20px 0px 0px 0px;
  padding: 10px 20px;
  margin-left: auto;
  border: none;
  cursor: pointer;
  color: var(--white);
  background-color: var(--background-light);
  border-color: var(--background-light);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
}

button:hover {
  background-color: var(--background-lighter);
}

button:focus,
button:focus-visible {
  background-color: var(--background-lighter);
}

/* dovaluegreece@dovaluegreece.gr */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* .content {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding-bottom: 100px;
}

/* .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

/* .title {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--foreground-dark);
  color: #000000;
} */

.add {
  background-color: var(--green);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add:hover {
  background-color: var(--green-light);
}

/* .profile {
  background-color: var(--blue);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.profile:hover {
  background-color: var(--blue-light);
}

.logout {
  background-color: var(--red);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout:hover {
  background-color: var(--red-light);
} */
